スキルシート最適化.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#E0EAFF'
  mode: advanced-chat
  name: スキルシート最適化
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.15@ca2b8f2599b87de968354f0e2ccbbc0d76bac5ebf275c3f0fbdae48881d74518
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1773212949290-llm
      source: '1773212949290'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: llm-source-1773212966234-target
      source: llm
      sourceHandle: source
      target: '1773212966234'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1773212966234-source-answer-target
      source: '1773212966234'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: career_data
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: career_data
        - default: ''
          hint: ''
          label: skills_data
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: skills_data
        - default: ''
          hint: ''
          label: basic_data
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: basic_data
      height: 160
      id: '1773212949290'
      position:
        x: 75
        y: 273
      positionAbsolute:
        x: 75
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: 0107c59b-1932-41da-babc-e857d911773f
          role: system
          text: "あなたはIT人材派遣会社のシニアコンサルタントです。\nエンジニアのスキルシートを、案件通過率を高める表現に最適化する専門家です。\n\
            \nあなたのタスク：\n1. 企業・現場固有の用語を業界標準の一般用語に変換する\n2. 技術スタックの表現粒度を統一する（「AWS全般」→「AWS（EC2/RDS/Lambda/S3）」など）\n\
            3. 実績を具体的な数値で補強できる箇所を特定する\n4. 業務内容の説明をSTARメソッド（状況・課題・行動・結果）に沿って整理する\n\n\
            必ず以下のJSON形式のみを出力すること。説明文や前置きは不要。\n```\n\n### ユーザープロンプト（変数を使用）：\n\n```\n\
            以下のスキルシートデータを最適化してください。\n\n## 基本情報\n{{{#1773212949290.basic_data#}}}}\n\
            \n## 職務経歴\n{{{#1773212949290.career_data#}}}}\n\n## スキル情報\n{{{#1773212949290.skills_data#}}}}\n\
            \n---\n\n以下のJSON形式で出力してください：\n\n{\n  \"optimized_career\": {\n    \"experiences\"\
            : [\n      {\n        \"project_name\": \"（最適化後のプロジェクト名）\",\n        \"\
            period_start\": \"（元の値をそのまま）\",\n        \"period_end\": \"（元の値をそのまま）\"\
            ,\n        \"team_size\": （元の値をそのまま）,\n        \"role_title\": \"（最適化後の役職名）\"\
            ,\n        \"tech_stack\": [\"（最適化後の技術1）\", \"（最適化後の技術2）\"],\n       \
            \ \"description\": \"（最適化後の業務説明。STARメソッドで150文字以上）\",\n        \"original_description\"\
            : \"（元の業務説明）\"\n      }\n    ]\n  },\n  \"optimized_skills\": {\n    \"\
            language_skills\": [{\"language\": \"...\", \"level\": \"...\"}],\n  \
            \  \"tool_info\": [\"...\"],\n    \"certifications\": [\"...\"],\n   \
            \ \"top_skills\": [\"（マッチング用トップスキル5個）\"]\n  },\n  \"optimized_self_pr\"\
            : \"（最適化後の自己PR文。200文字以上）\",\n  \"optimization_suggestions\": [\n    \"\
            （最適化のポイント1。例：『AWS全般』を具体的なサービス名に変更しました）\",\n    \"（最適化のポイント2）\",\n    \"\
            （最適化のポイント3）\"\n  ]\n}\n"
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 417
        y: 294
      positionAbsolute:
        x: 417
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1773212966234.text#}}'
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 101
      id: answer
      position:
        x: 1127
        y: 294
      positionAbsolute:
        x: 1127
        y: 294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#llm.text#}}

            {{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: ee701f58-6404-43cc-8bd0-076844e816ba
          role: system
          text: 'あなたはIT業界の採用担当者として20年の経験を持つ専門家です。

            エンジニアのスキルシートの業務説明文を、採用担当者が読んで印象に残る文章に仕上げます。


            ルール：

            - 事実を誇張せず、あくまで「伝わりやすく」する

            - 数値がある場合は必ず使う（削減率、チーム規模、期間など）

            - 一文は70文字以内を目安にする

            - 受動態より能動態を使う

            ```


            ### ユーザープロンプト：


            ```

            前のステップで最適化されたスキルシートデータをさらに改善してください。


            {{スキル最適化.output}}


            特に以下の点を改善してください：

            1. optimization_suggestions に記載された提案を実装する

            2. description が150文字未満の場合は適切に補強する

            3. top_skills が実際の career_data と整合しているか確認する


            同じJSON形式で出力してください。optimization_suggestions は最終的な改善内容に更新すること。

            '
        selected: true
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773212966234'
      position:
        x: 805.0355954936309
        y: 294
      positionAbsolute:
        x: 805.0355954936309
        y: 294
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 221.21222648184994
      y: 192.13670835176066
      zoom: 0.5743491774985177
  rag_pipeline_variables: []
