人材検索クエリ解析.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#E0F2FE'
  mode: workflow
  name: 人材検索クエリ解析
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.15@ca2b8f2599b87de968354f0e2ccbbc0d76bac5ebf275c3f0fbdae48881d74518
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1773644649771-source-1773644916963-target
      source: '1773644649771'
      sourceHandle: source
      target: '1773644916963'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1773644916963-source-1773644706724-target
      source: '1773644916963'
      sourceHandle: source
      target: '1773644706724'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: search_query
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: search_query
      height: 108
      id: '1773644649771'
      position:
        x: 84
        y: 283
      positionAbsolute:
        x: 84
        y: 283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773644916963'
          - text
          value_type: string
          variable: text
        selected: true
        title: 出力
        type: end
      height: 88
      id: '1773644706724'
      position:
        x: 686
        y: 282
      positionAbsolute:
        x: 686
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: ebd2c0d3-64f5-4846-a4d8-1dc18a7c5788
          role: system
          text: 'あなたはIT人材マッチングシステムの検索エンジンです。

            ユーザーが入力した自然言語の人材検索クエリを、データベース検索に使用できる構造化条件に変換します。


            出力ルール：

            - 必ずJSON形式のみを出力する。前置きや説明文は一切不要

            - 読み取れない・言及されていない項目は null を入れる（省略しない）

            - スキル名は英語の正式名称に統一する（例：「パイソン」→「Python」、「アマゾンクラウド」→「AWS"）

            - 経験年数は数値で入れる（「3年以上」→ 3）


            '
        - id: bb93df6d-55d1-4105-86de-b6e5e22c1d68
          role: user
          text: '{{#1773644649771.search_query#}}'
        selected: false
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773644916963'
      position:
        x: 393.9999999999999
        y: 282
      positionAbsolute:
        x: 393.9999999999999
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 156.99999999999943
      y: 8.99999999999983
      zoom: 1.0000000000000007
  rag_pipeline_variables: []
